.skill-animated-icon--container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 40px 50px;
}

.skill-animated-icon--image {
    position: absolute;
    width: 150px;
    height: 150px;
    transition: opacity 500ms ease-in-out, transform 250ms ease-in-out;
}

.skill-animated-icon--image-color {
    opacity: 0;
}

.skill-animated-icon--description {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    transform: rotateX(90deg);
    transition: transform 250ms ease-in-out;
    transition-delay: 500ms;
}

.skill-animated-icon--container.animate .skill-animated-icon--image {
    opacity: 0;
    transform: scale(1.1);
}

.skill-animated-icon--container.animate .skill-animated-icon--image-color {
    opacity: 1;
    transform: scale(1.1);
}

.skill-animated-icon--container.animate .skill-animated-icon--description {
    transform: rotateX(0deg);
}